@import url('https://fonts.googleapis.com/css2?family=Jersey+25+Charted&display=swap');

h1 {
    font-family: "Jersey 25 Charted", sans-serif;
    font-weight: 400;
    font-size: 60px;
    font-style:inherit
    
    
  }
body {
    margin: 0;
    border: ;
    padding: 30px;
    background-color: rgb(104, 2, 2);
    color: white;
    text-align:center;
}
p{
    text-align: center;
}
form{
    text-align: left;
    text-decoration: underline;
    background-color: gray;
    padding: 40px; ;
}
img{
    border-radius: 90px;
    padding: 30px;
}
.card  {
background-color: darkslategrey;
color: white;
text-align: center;
}
.button{
    padding: 20px;
}
table{
    text-align: center;
    border: solid;
    padding: 10px;
}
ul{
    color: rgb(58, 12, 223);
    text-align: left;
    
}