@import url('https://fonts.googleapis.com/css2?family=Jersey+25+Charted&display=swap');

h1 {
    font-family: "Jersey 25 Charted", sans-serif;
    font-weight: 400;
    font-size: 100px;
    font-style:inherit
    
    
  }
body {
    margin: 0;
    border: ;
    padding: 30px;
    background-color: maroon;
    color: white;
    text-align:center;
}
p{
    text-align: center;
}
form{
    text-align: left;
    background-color: gray;
    padding: 30px; ;
}
img{
    padding: 30px;
}
.card  {
background-color: darkslategrey;
color: bisque;
text-align: center;
}